<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - belajarRazor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="">MyOnlineStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:5001/admin/product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:5001/admin/sales">Sales history</a>
                        </li>
                    </ul>
                </div>
                JURAGAN
                <div class="dropdown">
                    <input type="image" src="~/user.png" class="user-btn">
                    <div class="dropdown-content">
                        @if(ViewBag.auth == 0){<a href="https://localhost:5001/user">Login</a>}
                        @if(ViewBag.auth == 1){
                            <a href="https://localhost:5001/user/logout">Logout</a>
                            <a href="#">Edit product</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br><br>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - belajarRazor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
