@{
    ViewData["Title"] = "Login Attemp";
}


<div>
    <h3>Anda harus Login!</h3>
</div>


<script>
    setTimeout(function () {
        window.location.href = "https://localhost:5001/user";
        }, 1000);
</script>