@{
    ViewData["Title"] = "All Products";
}

<div class="">
    <h2 class="text-center">All Products</h2>
    @{
        var item = ViewBag.item;
        foreach (var i in item)
        {
            <div class="prod-list prod-list-table">
                <div id="img-holder-@i.id" style="margin: auto">
                    <a href="product/detail/@i.id">
                        <img src=@i.img_url class="img-grid">
                    </a>
                </div>
                <div class="prod-desc">
                    <h4>Rp @i.price</h4><br>
                    <h5><a href="product/detail/@i.id">@i.name</a></h5>
                    @i.desc
                </div>
                <div>
                    <a href="https://localhost:5001/cart/add/@i.id">
                        <img src="edit.png" class="cart-btn">
                    </a>
                </div>
            </div>
        }
    }
</div>
