@{
    ViewData["Title"] = "All Products";
}

<div class="">
    <h2 class="text-center">All Products</h2>
    @if(ViewBag.auth == 1){<a href="https://localhost:5001/product/add">Add</a>}
    @{
        var item = ViewBag.item;
        foreach (var i in item)
        {
            <div class="prod-list prod-list-table">
                <div id="img-holder-@i.id" style="margin: auto">
                    <a href="product/detail/@i.id">
                        <img src=@i.img_url class="img-grid">
                    </a>
                </div>
                <div class="prod-desc">
                    <h4>Rp @i.price</h4><br>
                    <h5><a href="product/detail/@i.id">@i.name</a></h5>
                    <div id="desc-@i.id">@i.desc</div>
                    @if(ViewBag.auth == 1){
                        <div id="rat-@i.id">Rating : @i.rating</div>
                    }
                </div>
                <div>
                    @{
                        if(ViewBag.auth == 0)
                        {
                            <a href="https://localhost:5001/cart/add/@i.id">
                            <img src="cart.png" class="cart-btn">
                            </a>
                        }
                        else
                        {
                            <a href="https://localhost:5001/product/edit/@i.id">
                                <img src="edit.png" class="cart-btn">
                            </a>
                            <a href="https://localhost:5001/product/delete/@i.id">
                                <img src="delete.png" class="cart-btn">
                            </a>
                        }
                    }
                </div>
            </div>
        }
    }
</div>
