@{
    ViewData["Title"] = "Cart Confirmation page";
}
<h1>@ViewData["Title"]</h1>


<div>
    <h3>Item already in cart!</h3>
</div>


<script>
    setTimeout(function () {
        window.location.href = "https://localhost:5001/product";
        }, 2000);
</script>